.accordion{
    margin: 5px 5px;
    padding: 10px 10px;
    
}
.accordion-item{
    width: 50%;
    margin-left: 30px;
}
.accordion-body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.row{
    margin-bottom: 30px;
    background: #aaa;
}
.col-md-4 img{
    width: 400px ;
    height: 400px;
}